{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bewaartermijn gegevens
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bewaartermijn gegevens</h1>

  <p class="govuk-body">Om veiligheidsredenen houdt NotifyNL alleen tijdelijk een record bij van:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>de inhoud van de e-mails, sms-berichten, brieven en berichtenbox-berichten die u verstuurt</li>
    <li>e-mailadressen, mobiele nummers, adressen en burgerservicenummers (BSN) van ontvangers</li>
  </ul>

  <p class="govuk-body">Standaard verwijderen wij deze gegevens na 7 dagen.</p>

  <p class="govuk-body">Zodra de gegevens zijn verwijderd, kunnen wij deze niet meer terughalen.</p>

  <h2 class="heading-medium">Een rapport van uw verzonden berichten downloaden</h2>

  <ol class="govuk-list govuk-list--bullet">
    <li>Ga naar het dashboard.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">verzonden e-mails</b>, <b class="govuk-!-font-weight-bold">verzonden sms-berichten</b> of <b class="govuk-!-font-weight-bold">verzonden brieven</b>.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">Download dit rapport (CSV)</b>.</li>
  </ol>

  <p class="govuk-body">Wij raden u sterk aan dit regelmatig te doen.</p>

  <h2 class="heading-medium">Hoe u de bewaartermijn aanpast</h2>

  <ol class="govuk-list govuk-list--number">
    <li>Ga naar de {{ service_link(current_service, 'main.service_settings', 'Instellingen') }}-pagina.</li>
    <li>Selecteer <b class="govuk-!-font-weight-bold">Wijzigen</b> bij de regel <b class="govuk-!-font-weight-bold">Bewaartermijn gegevens</b>.</li>
  </ol>

  <p class="govuk-body">U kunt kiezen tussen 3 en 90 dagen.</p>

{% endblock %}
