{% from "components/service-link.html" import service_link %}
{% from "components/table.html" import mapping_table, row, text_field %}

{% extends "content_template.html" %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bezorgtijden
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bezorgtijden</h1>

  <p class="govuk-body">Het {{ service_link(current_service, 'main.service_dashboard', 'dashboard') }} geeft de status van een bericht weer, zodat u kunt zien wanneer het is bezorgd.</p>
  <p class="govuk-body">Om <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for("main.guidance_security") }}">gegevens van ontvangers veilig te houden</a>, is deze informatie slechts 7 dagen beschikbaar nadat een bericht is verzonden. U kunt een rapport downloaden, inclusief een lijst met verzonden berichten, voor uw eigen administratie.</p>
  <p class="govuk-body">Lees <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_message_status') }}">wat elke berichtstatus betekent</a>.</p>

  <h2 id="emails" class="heading-medium">E-mails</h2>
  <p class="govuk-body">Notify streeft ernaar 95% van de e-mails binnen 10 seconden te versturen.</p>
  <p class="govuk-body">Nadat een e-mail is verstuurd, probeert onze e-mailprovider deze tot 72 uur lang bij de ontvanger af te leveren.</p>

  <h3 id="open-rates" class="heading-small">Open- en doorklikpercentages</h3>
  <p class="govuk-body">Notify kan niet aangeven of uw gebruikers een e-mail openen of op links klikken. Wij registreren geen open- of doorklikpercentages vanwege privacyregels. Het volgen van e-mails zonder toestemming van gebruikers kan in strijd zijn met de Algemene Verordening Gegevensbescherming (AVG).</p>

  <h2 id="text-messages"  class="heading-medium">Sms-berichten</h2>
  <p class="govuk-body">Notify streeft ernaar 95% van de sms-berichten binnen 10 seconden te versturen.</p>
  <p class="govuk-body">Nadat een sms is verzonden, probeert onze sms-provider deze tot 72 uur bij de ontvanger af te leveren.</p>
  <p class="govuk-body">We sturen sms-berichten via verschillende providers. Als één provider faalt, schakelt Notify over naar een andere, zodat uw sms-berichten niet worden beïnvloed.</p>

  <h2 id="letters" class="heading-medium">Letters</h2>
  <p class="govuk-body">Brieven worden om 17:30 uur gedrukt en de volgende werkdag (maandag tot en met vrijdag met uitzondering van feestdagen) verzonden.</p>
  <p class="govuk-body">De geschatte levertijden zijn gebaseerd op de datum waarop een brief wordt verzonden.</p>

<div class="bottom-gutter-3-2">
    {% call mapping_table(
      caption='Geschatte levertijden voor letters',
      field_headings=['Porto', 'Geschatte levertijd'],
      field_headings_visible=True,
      caption_visible=False
    ) %}
      {% for column_heading, description in [
        ('Netherlands', '1 tot 2 dagen'),
        ('Internationaal (Europa)', '3 tot 5 dagen'),
        ('Internationaal (rest van de werld)', '6 tot 7 dagen'),
        ] %}
        {% call row() %}
          {{ text_field(column_heading) }}
          {{ text_field(description) }}
        {% endcall %}
      {% endfor %}
    {% endcall %}
  </div>

  <p class="govuk-body">Zie een lijst met <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_letters') }}">verzendprijzen</a>.</p>

<p class="govuk-body">Lees wat er gebeurt met <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_returned_letters') }}">brieven die retour worden gezonden</a>.</p>

{% endblock %}
