{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bestanden per e-mail versturen
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bestanden per e-mail versturen</h1>

  <p class="govuk-body">Notify biedt een veilige en betrouwbare manier om bestanden per e-mail te versturen.</p>

  <p class="govuk-body">Upload een bestand en stuur gebruikers een e-mail met een link om het te downloaden.</p>
<p class="govuk-body">Notify gebruikt versleutelde links in plaats van e-mailbijlagen omdat:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>ze veiliger zijn</li>
  <li>e-mailbijlagen vaak als spam worden gemarkeerd</li></ul>

  <p class="govuk-body">Voor extra beveiliging kunt u kiezen hoe lang het bestand beschikbaar is en ontvangers vragen hun e-mailadres te bevestigen voordat ze het kunnen downloaden.</p>

  <h2 class="heading-medium">Zo verstuurt u een bestand per e-mail</h2>

<ol class="govuk-list govuk-list--number">
   <li>Ga naar de pagina {{ service_link(current_service, 'main.choose_template', 'Sjablonen') }}.</li>
   <li>Maak een nieuw e-mailsjabloon of kies een bestaand sjabloon.</li>
   <li>Selecteer <b class="govuk-!-font-weight-bold">Bestanden bijvoegen</b>.</li>
   <li>Upload uw bestand.</li>
 </ol>

  <p class="govuk-body">U kunt de volgende bestandstypen uploaden:</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for label, extensions in allowed_file_formats.items() %}
      <li>{{ label }} (.{{ extensions|join(", .") }})</li>
    {% endfor %}
  </ul>

  <p class="govuk-body">Uw bestand moet kleiner zijn dan 2MB. <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.support')}}">Neem contact op met het NotifyNL-team</a> als u andere bestandstypen wilt versturen.</p>

  <h2 class="heading-medium">Als u de Notify API gebruikt</h2>
  <p class="govuk-body">
    Volg de instructies in onze
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API-documentatie</a>.</p>
  <p class="govuk-body">Een ontwikkelaar in uw team moet dit voor u instellen.</p>


{% endblock %}
