{% extends "content_template.html" %}
{% from "components/service-link.html" import service_link %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'Notify gebruiken' %}

{% block per_page_title %}
  Bestanden per e-mail versturen
{% endblock %}

{% block content_column_content %}

  <h1 class="heading-large">Bestanden per e-mail versturen</h1>

  <p class="govuk-body">Notify biedt een veilige en betrouwbare manier om bestanden per e-mail te versturen.</p>

  <p class="govuk-body">Upload een bestand en stuur gebruikers een e-mail met een link om het te downloaden.</p>
<p class="govuk-body">Notify gebruikt versleutelde links in plaats van e-mailbijlagen omdat:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>ze veiliger zijn</li>
  <li>e-mailbijlagen vaak als spam worden gemarkeerd</li></ul>


  <p class="govuk-body">To send a file by email:</p>
 <ol class="govuk-list govuk-list--number">
   <li>Go to the {{ service_link(current_service, 'main.choose_template', 'templates') }} page.</li>
   <li>Add a new email template or choose an existing one.</li>
   <li>Select <b class="govuk-!-font-weight-bold">Attach files</b>.</li>
   <li>Upload your file.</li>
 </ol>

  <p class="govuk-body">For security, choose how long the file is available for and ask recipients to confirm their email address before they can download it.</p>

  <h2 class="heading-medium">If you use the Notify API</h2>
  <p class="govuk-body">
    Follow the instructions in our
    <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API documentation</a>.</p>
  <p class="govuk-body">You’ll need a developer on your team to set it up for you.</p>


{% endblock %}
