


ago~=0.1
humanize~=4.4
Flask-WTF~=1.2
Flask-Login~=0.6

Pillow>=12.3.0

openpyxl~=3.1
pyexcel~=0.7
pyexcel-io~=0.6
pyexcel-xls~=0.7
pyexcel-odsr~=0.6

notifications-python-client~=10.0
fido2~=2.2

git+https://github.com/alphagov/gds_metrics_python.git@6f1840a57b6fb1ee40b7e84f2f18ec229de8aa72

# Run `make bump-utils` to update to the latest version
notifications-utils @ git+https://github.com/Worth-NL/notifynl-utils.git@101.1.20

govuk-frontend-jinja @ git+https://github.com/Worth-NL/LandRegistry-frontend-jinja@20260720.6

sentry-sdk[flask]==1.45.1
