{% extends "content_template.html" %}

{% from "components/page-header.html" import page_header %}
{% from "components/copy-to-clipboard.html" import copy_to_clipboard %}

{# Wordt gebruikt door de content_template.html-layout, prefix voor de toegankelijke naam van de "navigation" #}
{% set navigation_label_prefix = 'Prijsinformatie' %}

{% block per_page_title %}
  Facturatiegegevens
{% endblock %}

{% block content_column_content %}

    {{ page_header('Facturatiegegevens') }}

    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.support') }}">Neem contact met ons op</a> een verwerkersovereenkomst te ontvangen
    </p>

{% endblock %}
