<div class="govuk-grid-row govuk-!-margin-bottom-1">
  {% if current_user.has_permissions('send_messages') %}
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-3">
      <a href="{{ url_for(".set_sender", service_id=current_service.id, template_id=template.id) }}" class="govuk-link govuk-link--inverse pill-separate-item">
        Klaar om te versturen<span class="govuk-visually-hidden"> een bericht versturen met deze sjabloon</span>
      </a>
    </div>
  {% endif %}
  {% if current_user.has_permissions('manage_templates') %}
    <div class="govuk-grid-column-one-half govuk-!-margin-bottom-3">
      <a href="{{ url_for(".edit_service_template", service_id=current_service.id, template_id=template.id) }}" class="govuk-link govuk-link--inverse pill-separate-item">
        Bewerken<span class="govuk-visually-hidden"> van deze sjabloon</span>
      </a>
    </div>
  {% endif %}
</div>

{{ template|string }}

{% if template.template_type == "email" %}
  <h2 class="govuk-visually-hidden">Toegevoegde bestanden</h2>
  <div class="govuk-!-margin-bottom-2">
    <div class="js-stick-at-bottom-when-scrolling">
      <span class="email-files-selected-counter">
      {% if template.email_files | length == 0 %}
        Geen bestanden toegevoegd
      {% elif template.email_files | length == 1 %}
        1 bestand toegevoegd
      {% else %}
        {{ template.email_files | length }} bestanden toegevoegd
      {% endif %}

      </span>

        {{ govukButton({
          "text": "Bestanden beheren" if template.email_files else "Bestanden bijvoegen",
          "href": url_for(
            '.template_email_files',
            service_id=current_service.id,
            template_id=template.id
          ),
          "classes": "govuk-button--secondary attach-files__button",
        }) }}
      </div>
    </div>

  {% endif %}
