{% extends "content_template.html" %}

{% from "components/content-metadata.html" import content_metadata %}

{# Used by the content_template.html layout, prefixes the "navigation" accessible name #}
{% set navigation_label_prefix = 'About NotifyNL' %}

{% block per_page_title %}
  Roadmap
{% endblock %}

{% block content_column_content %}
  <h1 class="heading-large">Roadmap</h1>
  <p class="govuk-body">De <a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://github.com/orgs/Worth-NL/projects/32/views/1">NotifyNL-roadmap</a> laat zien waar we aan werken en een aantal dingen die we hebben gedaan.</p>
  <p class="govuk-body"> Het stappenplan is slechts een leidraad. Het omvat niet alles wat we doen, en sommige dingen kunnen veranderen.</p>
  <p class="govuk-body">U kunt <a class="govuk-link govuk-link--no-visited-state" href="{{url_for('main.support')}}">contact</a> met ons opnemen als u vragen heeft over de roadmap, mee wilt doen aan gebruikersonderzoek of suggesties heeft voor nieuwe functionaliteiten.</p>
{% endblock %}
