<h2 class="heading-medium">
  Personalisatie
</h2>
<p class="govuk-body">
  Om een bericht te personaliseren, gebruikt u dubbele haakjes om een placeholder aan uw inhoud toe te voegen. Bijvoorbeeld:
</p>
<pre class="formatting-example govuk-!-margin-top-0"><code class="lang-md">Hallo ((voornaam)), uw referentienummer is ((refnummer))
</code></pre>
<h3 class="heading-small">Informatie in placeholders beschermen tegen schadelijke inhoud</h3>
<p class="govuk-body">Gebruik Notify om schadelijke inhoud, zoals phishinglinks, uit een placeholder te verwijderen.</p>
<p class="govuk-body">Dit kan alleen via de API. Volg de instructies in het onderdeel ‘Een e-mail versturen’ van de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API-documentatie</a>.</p>
