<h2 class="heading-medium">
  Bestanden per e-mail versturen
</h2>
<p class="govuk-body">
 Upload een bestand en stuur uw ontvangers een link om het te downloaden.
 </p>
<p class="govuk-body">Selecteer <b class="govuk-!-font-weight-bold">‘Bestanden bijvoegen’</b> wanneer u een sjabloon bewerkt en volg de instructies. </p>
<p class="govuk-body">Als u de Notify API gebruikt om e-mails te versturen, volgt u de instructies voor ‘Een bestand per e-mail versturen’ in de <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_api_documentation') }}">API-documentatie</a>.</p>
