<h2 class="heading-medium">Berichtlengte</h2>
<p class="govuk-body">
  Een sms-bericht kan meer kosten als het:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>langer is dan 160 tekens</li>
    <li>letters met bepaalde accenten bevat, zoals ë of ï</li>
    <li>bepaalde tekens of symbolen bevat, zoals emoji</li>
  </ul>
<p class="govuk-body">Personalisatie kan het aantal tekens in een sjabloon verhogen.</p>
<p class="govuk-body">
  Zie <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.guidance_pricing_text_messages') }}" target="_blank" rel="noopener">prijzen (opent in nieuw tabblad)</a> voor meer informatie.
</p>
