{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "govuk_frontend_jinja/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Stuur ons een e-mail
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for('main.support') }) }}
{% endblock %}

{% block maincolumn_content %}

    {{ page_header('Stuur ons een e-mail')}}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          U vindt ons nood-e-mailadres in de e-mail die wij naar u (of een van uw teamleden) hebben gestuurd toen uw dienst is geactiveerd.
        </p>
        <p class="govuk-body">
          Als u contact opneemt via ons nood-e-mailadres, reageren wij binnen 30 minuten.
        </p>

        <h2 class="heading-medium">Gebruik ons nood-e-mailadres niet</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          als u geen foutmelding ‘technische storing’ kreeg bij het versturen van berichten via de NotifyNL website
        </li>
        <li>
          als u geen 500-responsecode kreeg bij gebruik van de API
        </li>
        <li>
          als uw dienst nog in de testfase is
        </li>
        <li>
          als uw probleem al op de <a class="govuk-link govuk-link--no-visited-state" href="https://status.notifynl.nl">statuspagina</a> staat.
        </li>
      </ul>

      <p class="bottom-gutter-2">
        Vul in plaats daarvan <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.feedback', ticket_type='report-problem', category='problem-sending', severe='no') }}">ons ondersteuningsformulier</a> in.
      </p>
      </div>
    </div>

{% endblock %}
