{% extends "withoutnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "jinja_templates_overrides/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Als u geen beveiligingscode heeft ontvangen
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for("main.support_cannot_sign_in") }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ page_header("Als u geen beveiligingscode heeft ontvangen") }}

    <p class="govuk-body">
      Controleer of er geen problemen zijn met uw toestel of netwerk.
    </p>
    <ol class="govuk-list govuk-list--number">
      <li>
      Controleer de spamfolder van uw telefoon (als die er is).
      </li>
      <li>
      Zorg ervoor dat u de afzender-ID ‘Notify’ niet per ongeluk heeft geblokkeerd.
      </li>
      <li>
      Bezoek de website van uw mobiele netwerkaanbieder en bekijk de statuspagina.
      </li>
      <li>
      Controleer of u sms-berichten van andere nummers kunt ontvangen.
      </li>
      <li>
      Zet de vliegtuigmodus aan en daarna weer uit.
      </li>
      <li>
      Zet uw telefoon uit, wacht een paar minuten en zet hem daarna weer aan.
      </li>
    </ol>
    <p class="govuk-body">
      <a class="govuk-link govuk-link--no-visited-state" href={{url_for("main.support_no_security_code_account_details")}}>Ik wacht nog steeds op een beveiligingscode</a>
    </p>
  </div>
</div>

{% endblock %}
