{% extends "withoutnav_template.html" %}
{% from "components/govuk-page-header.html" import govuk_page_header %}
{% from "components/page-footer.html" import sticky_page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "jinja_templates_overrides/components/back-link/macro.html" import govukBackLink %}

{% block per_page_title %}
  Vul uw accountgegevens in
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": url_for("main.support_no_security_code") }) }}
{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govuk_page_header("Vul uw accountgegevens in") }}

    <p class="govuk-body">
      We gebruiken deze gegevens om te onderzoeken waarom u nog geen beveiligingscode heeft ontvangen.
    </p>
      {% call form_wrapper() %}
        {{ form.name(param_extensions={"classes": "govuk-!-width-full", "autocomplete": "name"}) }}
        {{ form.email_address(param_extensions={"classes": "govuk-!-width-full", "autocomplete": "email"}) }}
        {{ form.mobile_number(param_extensions={"classes": "govuk-!-width-full"}) }}
        {{ sticky_page_footer('Versturen') }}
      {% endcall %}
  </div>
</div>

{% endblock %}
