{% extends "views/platform-admin/_base_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block per_page_title %}
  Dagelijks rapport SMS-provider volumes
{% endblock %}

{% block platform_admin_content %}

  <h1 class="heading-large">
    Dagelijks rapport SMS-provider volumes
  </h1>

  {% call form_wrapper() %}
    {{ form.start_date(param_extensions={"hint": {"text": "Gebruik het formaat JJJJ-MM-DD"}}) }}
    {{ form.end_date(param_extensions={"hint": {"text": "Gebruik het formaat JJJJ-MM-DD"}}) }}
    {{ page_footer('Download rapport (CSV)') }}
  {% endcall %}

  <h2 class="heading-medium">
    Gegevens opgenomen in het rapport
  </h2>

  {{ govukSummaryList({
    "classes": "notify-summary-list govuk-!-margin-bottom-7 govuk-!-font-size-16",
    "rows": [
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "day"
        },
        "value": {
          "text": "De hele werkdag in BST"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "provider"
        },
        "value": {
          "text": "De SMS-provider"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "sms totals"
        },
        "value": {
          "text": "Het aantal verzonden sms-berichten"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "sms fragments"
        },
        "value": {
          "text": "Het aantal verzonden sms-fragmenten"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "sms chargeable units"
        },
        "value": {
          "text": "Het aantal verzonden sms-fragmenten vermenigvuldigd met de tariefvermenigvuldiger"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "sms cost"
        },
        "value": {
          "text": "De kosten voor Notify-gebruikers van verzonden sms-berichten"
        }
      }
    ]
  }) }}

{% endblock %}
