{% extends "views/platform-admin/_base_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}
{% from "govuk_frontend_jinja/components/summary-list/macro.html" import govukSummaryList %}

{% block per_page_title %}
  Rapport volumes per dienst
{% endblock %}

{% block platform_admin_content %}

  <h1 class="heading-large">
    Rapport volumes per dienst
  </h1>

  {% call form_wrapper() %}
    {{ form.start_date(param_extensions={"hint": {"text": "Gebruik het formaat YYYY-MM-DD"}}) }}
    {{ form.end_date(param_extensions={"hint": {"text": "Gebruik het formaat YYYY-MM-DD"}}) }}
    {{ page_footer('Download rapport (CSV)') }}
  {% endcall %}

  <h2 class="heading-medium">
    Gegevens opgenomen in het rapport
  </h2>

  {{ govukSummaryList({
    "classes": "notify-summary-list govuk-!-margin-bottom-7 govuk-!-font-size-16",
    "rows": [
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "gratis tegoed"
        },
        "value": {
          "text": "Gratis tegoed ingesteld voor de dienst. Dit is het laatste gratis tegoed binnen de opgegeven datumbereik"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "sms-meldingen"
        },
        "value": {
          "text": "Het aantal verzonden sms-berichten door de dienst."
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "sms kostenunits"
        },
        "value": {
          "text": "Het aantal sms-berichtfragmenten vermenigvuldigd met de tariefvermenigvuldiger verzonden door de dienst."
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "e-mail totaal"
        },
        "value": {
          "text": "Het aantal verzonden e-mails door een dienst"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "brief totaal"
        },
        "value": {
          "text": "Het aantal verzonden brieven door een dienst"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "briefkosten"
        },
        "value": {
          "text": "De kosten van de brieven, tarief × aantal brieven"
        }
      },
      {
        "key": {
          "classes": "notify-summary-list__key",
          "text": "aantal vellen brieven"
        },
        "value": {
          "text": "Het aantal verzonden vellen door een dienst"
        }
      }
    ]
  }) }}

{% endblock %}
