{% extends "withoutnav_template.html" %}

{% block per_page_title %}
  Controleer uw inbox – Wijzig uw e-mailadres
{% endblock %}

{% block maincolumn_content %}
  <span class="govuk-caption-xl govuk-!-margin-bottom-1 govuk-!-padding-top-7">Wijzig uw e-mailadres</span>

  <h1 class="heading-large govuk-!-margin-top-0">Controleer uw inbox​</h1>
  <p class="govuk-body">We hebben een e-mail gestuurd naar {{ new_email }}</p>
  <p class="govuk-body">Klik op de link in de e-mail om de wijziging van uw e-mailadres te bevestigen.</p>

{% endblock %}
