{% extends "withoutnav_template.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block per_page_title %}
  Cookies
{% endblock %}

{% block cookie_message %}{% endblock %}

{% block maincolumn_content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="heading-large">Cookies</h1>
    <p class="summary">
      Cookies zijn kleine bestandjes die op uw telefoon, tablet of computer worden opgeslagen wanneer u een website bezoekt.
    </p>
    <p class="govuk-body">We gebruiken een essentiële cookie om uw gegevens veilig te houden terwijl u NotifyNL gebruikt.</p>
    <p class="govuk-body">
      Voor het gebruik van essentiële cookies is geen toestemming nodig.
    </p>
    {{ govukTable({
      "caption": "Essentiële cookies",
      "captionClasses": "govuk-visually-hidden",
      "classes": "notify-table notify-table--body-small",
      "head": [
        {
          "text": "Naam"
        },
        {
          "text": "Doel",
          "classes": "govuk-!-width-one-half"
        },
        {
          "text": "Verloopt"
        },
      ],
      "rows": [
        [
          {
            "text": "notify_admin_session"
          },
          {
            "text": "Wordt gebruikt om u ingelogd te houden"
          },
          {
            "text": "20 uur"
          },
        ]
      ]
    }) }}
  </div>
</div>

{% endblock %}
