{% extends "views/platform-admin/_base_template.html" %}
{% from "govuk_frontend_jinja/components/table/macro.html" import govukTable %}

{% block per_page_title %}
Inkomende sms
{% endblock %}

{% block platform_admin_content %}

  <h1 class="heading-medium">
    Inkomende sms
  </h1>

  {% set table_body = [] %}
  {% for value in inbound_num_list.data %}
    {% do table_body.append(
      [
        {
          "text": value.number
        },
        {
          "text": "Actief" if value.active else ("Niet in gebruik" if not value.service.name else "Inactief")
        },
        {
          "text": "",
          "html": ('<a href="' ~ url_for('main.service_dashboard', service_id=value.service.id) ~ '" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-24 govuk-!-font-weight-bold">' ~ value.service.name ~ '</a>') if value.service else ""
        }
      ]
    )%}
  {% endfor %}

  {{ govukTable({
    "caption": "Inkomende sms",
    "captionClasses": "govuk-visually-hidden",
    "head": [
      {
        "text": "Nummer"
      },
      {
        "text": "Status"
      },
      {
        "text": "Dienst"
      },
    ],
    "rows": table_body
  }) }}

{% endblock %}
