{% extends "withnav_template.html" %}
{% from "components/form.html" import form_wrapper %}
{% from "jinja_templates_overrides/components/back-link/macro.html" import govukBackLink %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/page-header.html" import page_header %}
{% from "components/branding-preview.html" import email_branding_preview %}

{% set page_title = 'Bevestig e-mailhuisstijl' %}

{% block service_page_title %}
  {{ page_title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    "href": back_link
  }) }}
{% endblock %}

{% block maincolumn_content %}

  {{ page_header(page_title) }}

  <p class="govuk-body">
    E-mails van {{ current_service.name }} zien er als volgt uit.
  </p>

  {{ email_branding_preview('__NONE__', title="Voorbeeld van nieuwe e-mailhuisstijl") }}

  <h2 class="heading-medium">Voordat u doorgaat</h2>

  <p class="govuk-body">U mag de huisstijl van de centrale overheid alleen gebruiken als u daarvoor toestemming hebt.</p>

  <p class="govuk-body">U mag geen Rijksoverheid-huisstijl gebruiken als uw organisatie onafhankelijk is van de overheid <a class="govuk-link govuk-link--no-visited-state" href="https://www.rijkshuisstijl.nl/publiek/modules/folder/brandguide/default/index.aspx?ItemId=6738&OriginalItemId=6738">onafhankelijk is van de overheid</a>.</p>

  {% call form_wrapper() %}
    {{ page_footer(page_title) }}
  {% endcall %}

{% endblock %}
