{% extends "document-download-template.html" %}
{% from "components/error-summary.html" import errorSummary %}
{% from "components/form.html" import form_wrapper %}
{% from "components/page-footer.html" import page_footer %}

{% block per_page_title %}
  Bevestig uw e-mailadres
{% endblock %}

{% block extra_banner_content %}
  <p class="govuk-body">
    Voer om door te gaan het e-mailadres in waarmee u inlogt bij NotifyNL.
  </p>
{% endblock %}

{% block main_content %}

  {{ errorSummary(form) }}

  <p class="govuk-body">Om veiligheidsredenen moeten we bevestigen naar welk e-mailadres het bestand is gestuurd voordat u het kunt downloaden.</p>
  {% call form_wrapper() %}
    {{ form.email_address(param_extensions={"classes": "govuk-!-width-full"}) }}
    {{ page_footer('Doorgaan') }}
  {% endcall %}
{% endblock %}
