{% extends "withoutnav_template.html" %}
{% block per_page_title %}Sorry, er is een probleem met de dienst{% endblock %}
{# add system status link when available #}
{% block maincolumn_content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="heading-large">
        Sorry, er is een probleem met NotifyNL
      </h1>
      <p class="govuk-body">
        Probeer het later opnieuw.
      </p>
      <p class="govuk-body">
        Om een probleem te melden, kunt u een e-mail sturen naar <a class="govuk-link govuk-link--no-visited-state" href="mailto:support@notificatie.nl">support@notificatie.nl</a>.
      </p>
    </div>
  </div>
{% endblock %}
