name: Test

on:
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}.${{ github.ref }}
  cancel-in-progress: true

env:
  IMAGE: ghcr.io/worth-nl/notifynl-admin

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      actions: read
      checks: write

    strategy:
      matrix:
        python-version: ["3.11"]
        node-version: ["22"]

    steps:
      - uses: szenius/set-timezone@v2.0
        with:
          timezoneLinux: "Europe/Amsterdam"

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: gerlero/apt-install@v1
        with:
          packages: build-essential git libcurl4-openssl-dev curl libssl-dev
          install-recommends: false

      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true
          enable-cache: true
          cache-dependency-glob: |
            requirements_for_test.in
            requirements_for_test.txt
            requirements_nl_test.txt

      - name: Install application requirements (pip)
        run: uv pip install -r requirements_nl_test.txt

      - name: NPM install
        run: npm ci --no-audit

      - name: NPM build
        run: npm run build

      - uses: astral-sh/ruff-action@v3
        with:
          version-file: requirements_for_test.txt

      - name: Generate version file
        run: make generate-version-file

      - name: NPM lint SCSS
        run: npm run lint:scss

      - name: NPM lint JS
        run: npm run lint:js

      - name: Jest tests
        run: npm run test-report

      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: JEST Tests
          path: reports/jest-*.xml
          reporter: jest-junit
          only-summary: true
          use-actions-summary: false
          badge-title: JEST

      - uses: pavelzw/pytest-action@v2
        with:
          job-summary: false
          verbose: false
          emoji: false
          custom-arguments: --junitxml=reports/pytest-unit.xml

      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: PyTest Tests
          path: reports/pytest-*.xml
          reporter: java-junit
          only-summary: true
          use-actions-summary: false
          badge-title: PYTEST

  build:
    runs-on: ubuntu-latest
    needs: test

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set tag
        id: set-tag
        run: |
          TAG=$(date +%Y%m%d).${{ github.run_number }}-dev
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - uses: docker/login-action@v3
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3
        name: Setup QEMU

      - uses: docker/setup-buildx-action@v3
        name: Setup buildx

      - uses: docker/build-push-action@v6
        with:
          file: docker/Dockerfile_nl
          push: true
          tags: ${{ env.IMAGE }}:${{ steps.set-tag.outputs.tag }}
          platforms: linux/amd64
          provenance: false
        name: Docker build and push ${{ steps.set-tag.outputs.tag }}

    outputs:
      tag: ${{ steps.set-tag.outputs.tag }}

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: Test
      url: https://admin.test.notifynl.nl

    steps:
      - uses: actions/checkout@v4
        with:
          repository: Worth-NL/notifynl-charts-private
          ref: main
          token: ${{ secrets.RELEASE_TOKEN }}
        name: Checkout Worth-NL/notifynl-charts-private

      - uses: bwvolleyball/k8s-toolkit@v1.0.0
        with:
          config: ${{ secrets.K8S_CONFIG }}

      - run: helm dependency build
        working-directory: ${{ github.workspace }}/notifynl-full
        name: Helm chart dependency build

      - name: Deploy new tag
        run: helm upgrade --install notifynl notifynl-full/ -n ${{ vars.NAMESPACE_TEST }} --reuse-values --set apps.admin.image.tag=${{ needs.build.outputs.tag }} --wait --timeout 300s
