{% extends "withnav_template.html" %}
{% from "components/page-header.html" import page_header %}
{% from "components/page-footer.html" import page_footer %}
{% from "components/form.html" import form_wrapper %}
{% from "jinja_templates_overrides/components/back-link/macro.html" import govukBackLink %}

{% set title = "Controleer de naam van de dienst" %}

{% block service_page_title %}
  {{ title }}
{% endblock %}

{% block backLink %}
  {{ govukBackLink({ "href": back_link }) }}
{% endblock %}

{% block maincolumn_content %}
  {{ page_header(title) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-five-sixths">

      <p class="govuk-body">
        NotifyNL moet ervoor zorgen dat {{ organisation.name }} zich houdt aan onze <a class="govuk-link govuk-link--no-visited-state" href="{{ url_for('main.terms_of_use') }}" target="_blank">gebruiksvoorwaarden (opent in nieuw tabblad)</a>.
      </p>

      <p class="govuk-body">
        We gebruiken de dienstnaam hiervoor.
      </p>

      <p class="govuk-body">
        Dienstnamen mogen geen:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>acroniemen, initialismen of afkortingen bevatten</li>
        <li>uw eigen naam of de naam van iemand uit uw team bevatten</li>
      </ul>

    {% call form_wrapper() %}
      {{ form.enabled }}
      {{ page_footer('Doorgaan') }}
    {% endcall %}

    </div>
  </div>

{% endblock %}
